{% macro field_render(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endif %}
        {% if field.label.text != 'CSRF Token'%}
            <h3>{{ field.label.text }}</h3>
        {% endif %}
    {{ field(placeholder=field.description) }}
{% endmacro %}

{% macro edit_field_render(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endif %}
    {{ field }}
{% endmacro %}

{% macro render_post(post) %}
    <article>
        <h2><a href="{{ url_for('detail', id=post.id) }}">{{ post.title }}</a></h2>
        <time datetime="{{ post.date }}">{{ post.date.strftime('%B %d %Y') }}</time>
    </article>
{% endmacro %}